*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
/* header section  */
header{
 
    background: rgba(229, 84, 115, 0.10);
}
.header-banner-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 145px;
    gap: 40px;

}
.header-banner-content{
    width: 600px;


}
.header-banner-image{
    width: 600px;


    text-align: center;

}
.header-banner-image img{
    width: 450px;
 
}
.header-banner-title{
display: flex;

flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.header-banner-para{
    display: flex;

flex-direction: column;
flex-shrink: 0;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 16px;

font-weight: 400;
margin-top: 30px;

}

.header-banner-btn{
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
/* offer section  */
.offer-container{
    height: 515px;
    display: flex;

background: rgba(229, 84, 115, 0.05);
align-items: center;
justify-content:space-around;

}
.offer-content{
    width: 600px;
padding-left: 120px;
    text-align: center;

 
    
  

}
.offer-image{
    width: 600px;
    text-align: center;
}
.offer-image img{
    width: 250px;



}
.offer-off{
    color:#E55473;
}
.offer-para{
    margin-top: 20px;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.60);
    
}
.offer-btn{
    border-radius: 8px;
    background-color: #E55473;
padding: 20px 43px;
color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}