* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
/* header section  */
header {
  background: rgba(229, 84, 115, 0.1);
}
.header-banner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px 145px;
  gap: 40px;
}
.header-banner-content {
  width: 600px;
}
.header-banner-image {
  width: 600px;
  text-align: center;
}
.header-banner-image img {
  width: 450px;
}
.header-banner-title {
  display: flex;
  color: #272727;
  font-size: 50px;
  font-weight: 800;
}

.header-banner-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

.header-banner-btn {
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  gap: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
/* flower feather section  */
.flower-container {
  width: 1200px;
  height: 450px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.flower1 {
  width: 300px;
  height: 450px;
}
.flower-pink {
  padding-top: 36px;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.flower-red {
  padding-top: 110px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flower-red-link {
  padding-top: 38px;
}
.flower-green {
  padding-bottom: 60px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.feather-content {
  margin: 30px auto;
  text-align: center;
}
.feather-title {
  margin-bottom: 15px;
}
.feather-para {
  color: rgba(39, 39, 39, 0.6);
}

.link-color {
  color: #272727;
}
/* offer section  */
.offer-container {
  height: 515px;
  display: flex;
  background: rgba(229, 84, 115, 0.05);
  align-items: center;
  justify-content: space-around;
}
.offer-content {
  width: 600px;
  padding-left: 120px;
  text-align: center;
}
.offer-image {
  width: 600px;
  text-align: center;
}
.offer-image img {
  width: 250px;
}
.offer-off {
  color: #e55473;
}
.offer-para {
  margin-top: 20px;
  font-size: 16px;
  color: rgba(39, 39, 39, 0.6);
}
.offer-btn {
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
}
.instagram-image {
  width: 1200px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.instagram-image1 {
  width: 250px;
}
.instagram-content {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.instagram-title {
  font-size: 30px;
  font-weight: 700;
}
.instagram-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  margin-top: 20px;
}

.deal-container {
  width: 1200px;
  height: 450px;

  background-image: url("./flower-shop-asset/Rectangle\ 9.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.input {
  width: 1000px;
  margin: 0 auto;
}
.input-title {
  font-size: 40px;
}
.input-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
}
.input-box {
  width: 500px;
  height: 60px;

  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
}
.input-subscribe-btn {
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 10px;
}
/* about section */
.about-container {
  width: 1200px;
  height: 450px;
  margin: 100px auto;
  background-color: #eed2da;
}
.about-title {
  font-size: 40px;
  padding-top: 40px;
}
.about-descrip {
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(133, 63, 63, 0.5),rgba(105, 105, 8, 0.7));
}
.about-image {
  padding: 10px;
}
.about-image img {
  width: 600px;
  height: 300px;
  border: 5px solid black;
}
.about-description {
  padding: 10px;
}
.about-para {
  margin-bottom: 20px;
}

.about-content {
  text-align: center;
  margin: 10px auto;
}

.about-description-btn {
  border-radius: 8px;
  background-color: #e55473;
  padding: 20px 43px;
  gap: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.about-description-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  text-align: justify;
  padding-top: 20px;
}
.about-description-title {
  font-size: 25px;
}

/* footer section  */
.footer-container {
  height: 350px;
  background: #111010;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 85px;
}
span.flower {
  color: #e55473;
}
.footer-title {
  font-size: 40px;
  margin-bottom: 20px;
}
.footer-para {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
}
.footer-bottom-para {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 10px;
}
.footer-content {
  margin: 0 auto;
}

